@font-face {
  font-family: Dimitri;
  src: url("assets/DIMITRI_.TTF");
}

body {
  font-family: "Verdana", sans-serif;
  margin: 10px 50px 10px 50px;
  background-color: #c3c3c3;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Dimitri", sans-serif;
}
body > header {
  background-color: #a1a1a1;
}
section {
  background-color: #919191;
}
#body_footer {
  background-image: url("assets/example.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #bada55;
}
.big_title {
  font-size: 20px;
}
.small_title {
  font-size: 15px;
}
.click-me-btn {
  display: block;
  height: 50px;
  width: 150px;
  background-image: url("assets/click-me.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  float: left;
}
.article_footer {
  clear: both;
}